# Fichiers d'état et cache Terraform 
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json

# Fichiers de verrouillage de plan et crash logs
*.tfplan
crash.log
override.tfS
override.tf.json
*_override.tf
*_override.tf.json

# Secrets et clés
*.pem
*.key
.env